################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI/node_modules
/UI/.angular/cache/14.2.4
